{% extends "base.html" %}

<body>
{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>nis</th>
            </tr>
        </thead>

        <tbody>
            {% for familia in familias %}
            <tr>
                <td>
                    <a href="{% url 'pessoa' familia.id %}">{{ familia.id }}</a>
 </a>
                </td>
                <td>{{ familia.nome }}</td>
                <td>{{ familia.nis}}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhuma família cadastrada</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock content %}
</body>