{% extends "base.html" %}

{% block body_class %}pagina-cinza{% endblock %}

{% block content %}
<h1 class="titulo-sistema">Programa Bolsa Família</h1>
<h2 class="headi">Responsável familiar: {{ familia.nome }}</h2>
<p class="subtitulo">Cadastro familiar</p>

<main class="container-pessoas">
  {% for pessoa in pessoas %}
    <article class="card-pessoa">
      <h3 class="nome-pessoa">{{ pessoa.nome }}</h3>

      <div class="info">
        <span><strong>Idade:</strong> {{ pessoa.idade | default:"" }}</span>
        <span><strong>Nascimento:</strong> {{ pessoa.data_nascimento | default:"" }}</span>
        <span><strong>Altura:</strong> {{ pessoa.altura|default:"" }}</span>
        <span><strong>Peso:</strong> {{ pessoa.peso |default:"" }}</span>
        <span><strong>Gestante:</strong> {{ pessoa.gestante |default:"" }}</span>
        <span><strong>Pccu:</strong> {{ pessoa.pccu |default:"" }}</span>
        <span><strong>Data do Pccu:</strong> {{ pessoa.data_preventivo | default:"" }}</span>
      </div>
    </article>
  {% empty %}
    <p>Nenhuma pessoa cadastrada</p>
  {% endfor %}
</main>

{% endblock %}